<header>
    <div class="contentHeader">
        <div class="leftHeader">
            <img style="cursor: pointer;" onclick="location.href = '/'" src="/assets/images/logo.png">
        </div>
        <div class="rightHeader">
            <div class="rhButtons">
                <button onclick="location.href = 'https://github.com/userverge/userverge/discussions'"><i class="fa-light fa-message-code"></i> Discussions</button>
                <button onclick="location.href = 'https://github.com/userverge/userverge/'"><i class="fa-light fa-feather"></i> Write</button>
            </div>
            <p>Hello, internet!</p>
        </div>
    </div>
</header>