@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
:root {
    --accent-primary: #396993;
    --accent-secondary: #9b9b8b;
    --clamp: clamp(0px, calc(100% - 50px), 1000px)
}

body {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

a {color: var(--accent-primary)}
::selection {background: transparnet; color: gray;}
::-webkit-scrollbar {width: 0px;}
button {
    background: var(--accent-primary);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 620px) {
    .rightHeader p {font-size: 0px !important;}
    .rhButtons {right: 0px !important;}
    .rhButtons button {font-size: 0px !important;padding: 10px 10px !important;}
    .rhButtons button i {font-size: 14px !important;}
}

header {
    height: 50px;
}
header img {
    width: 182px;
    padding: 14px;
}
.contentHeader {
    display: flex;
    align-items: center;
}
.rightHeader {
    width: 100%;
    text-align: right;
    cursor: default;
}
.rhButtons {
    position: absolute;
    right: 130px;
    top: 12px;
}

.contentFooter {
    display: flex;
    align-items: center;
}
.leftFooter p {width: max-content;}
.rightFooter {
    width: 100%;
    text-align: right;
}
.rightFooter a{margin-left: 5px;}

.sections {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0px;
    width: var(--clamp);
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 14px;
}
.category h1 {
    position: absolute;
    color: white;
    text-align: left;
    width: 274px;
    margin-top: -68px;
    margin-left: 80px;
}
.category h1 i {
    font-size: 32px;
    margin-top: -6px;
    margin-left: -42px;
    position: absolute;
}
.category img {
    width: 100%;
    height: 108px;
    border-radius: 7px;
}

.article img {
    max-width: 100%;
    border-radius: 4px;
}
.highlight {
    background: #3e79b9;
    color: white;
    padding: 1px 10px;
    border-radius: 4px;
}

.authors {
    line-height: 40px;
}
.authors a {
    display: inline-block;
    background: var(--accent-primary);
    color: white !important;
    border-radius: 50px;
    padding: 0px 14px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 4px;
}
.authors a:hover {
    filter: brightness(0.8);
}
.authors a img {
    height: 32px;
    margin: 0px 0px -11px -10px;
    border-radius: 50px;
    width: 32px;
    margin-right: 4px;
}